/* ===== GLOBAL STYLES ===== */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&display=swap');

:root {
    --primary-color: #F2F2F2;
    --secondary-color: #3dbeff;
    --tertiary-color: #90d4c5;



}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    line-height: 2.5em;
    color: 24303E;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* ===== UTLITIES ===== */


/* Global */

.container {
    max-width: 1440px;
}

.text-center {
    text-align: center;
}


/*Main Section*/

.grid-2-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-section-flex {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 8em;
}

.box-three-flex {
    display: flex;
    align-items: center;
    text-align:  center;
    padding: 23em 6em 0 6em;
    

}

.main-section-header-text {
    font-size: 40px;
    font-family: 'Fraunces';
    font-weight: 900;
    line-height: 49px;
    letter-spacing: -0.285714px;
    font-style: normal;
    color: #24303E;
    margin-bottom: .75em;
}

.main-section-p-text {
    font-size: 18px;
    font-family: 'Barlow';
    font-style: normal;
    letter-spacing: -0.128571px;
    line-height: 30px;
    font-weight: 600;
    color: #808397;

}

.main-section-link-text-yellow {
    text-transform: uppercase;
    margin-top: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
}

.main-section-link-text-pink {
    text-transform: uppercase;
    margin-top: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
}

.main-section-link-text-yellow-underline {
    border-bottom: rgb(250, 212, 0,0.25)solid 10px;
    width: 20%;
    margin-top: -17px;
}


.main-section-link-text-pink-underline {
    border-bottom: rgb(254, 119, 102, 0.25) solid 10px;
    width: 20%;
    margin-top: -17px;

}


.box-three-h2 {
    font-family: 'Fraunces' 9pt Soft;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.2px;
    margin-bottom: 1em;
}

.box-three-p-green {
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 27px;
    color: #3E7467;
    font-style: normal;

}

.box-three-p-blue {
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 27px;
    color: #19536C;
    font-style: normal;

}


/* Client testimonials */

.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}


.client-test-container {
    max-width: 1440px;
    padding: 0 10em;
    margin-bottom: 10em;
}

.client-test-section {
    background-color: #FFFCF8;
}

.client-test-h3 {
    text-align: center;
    font: Fraunces 9pt Soft;
    style: normal;
    size: 20px;
    line-height: 24.66px;
    letter-spacing: 5px;
    font-weight: 900;
    color: #A7AAAD;
    margin-top: 10em;
    margin-bottom: 5em;
    text-transform: uppercase;

}

.client-test-box img {
    border-radius: 50%
}

.client-test-p {
    font: 'Barolow';
    font-weight: 600;
    font-style: normal;
    line-height: 32px;
    letter-spacing: -0.13px;
    color: #5B636D;
    margin: 3em 0;

}

.client-test-name {
    font: Fraunces 9pt Soft;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    line-height: 22.19px;
    letter-spacing: -0.13px;
    color: #24303E;

}

.client-test-job-title {
    font: 'Barlow';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.1px;
    color: #A7AAAD;
    margin-top: .75em;
}


/* ====== SECTION STYLES =======*/

/* Nav Bar */

nav {
    background-color: #3dbeff;
    padding: 34px 40px;

}
.flex_nav { 
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;

}

.flex_nav img {
    margin-right: auto;
}

.flex_nav li {
    display: inline-block;
    margin-right: 25px;
    font-weight: 600;
    font-size: 18px;

}

.flex_nav a {
    color: white;
}

.flex_nav a:hover {
    color: #f16a59;
}


.nav-btn {
    border-radius: 5em;
    width: 40%;
    background-color: white;
    padding: 15px;
}


/*
.flex_nav .nav-btn a {
    color: #272e3b !important;
}
*/



/*Header Section*/

.header-section-bckgrnd-img {
    background-image: url(../../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;

}


.header-section h1 {
    text-align: center;
    padding-top: 10em;
    color: #FFFFFF;
    font-size: 56px;
    position: relative;
    bottom: 300px;
    letter-spacing: 8.75px;
    font-family: Fraunces 9pt Soft;
}


.arrow-header {
    position: relative;
    left: 50%;
    bottom: 150px;

}


/*Main Section*/

/* Box three */

.box-three-bckgrnd-img-1 {
    background-image: url(../../images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 600px;
}

.box-three-bckgrnd-img-2 {
    background-image: url(../../images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720x;
    height: 600px;

}

/* Footer Images */

.footer-images-flex {
    display: flex;
    flex-direction: row;
}

.footer-images-flex img {
    width: 360px;
    height: 447px;
}

/* Footer */

footer {
    background-color: #90D4C6;
    height: 350px;
}

.footer-logo {
    width: 170px;
    height: 33px;
    color: #2C7566;
    margin: 4em 0;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.footer-flex li {
    margin-left: 3em;
    margin-top: -3em;
}


.footer-links {
    font: 'Barlow';
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -.13px;
    color: #458D7E;

}

.footer-social-icons {
    margin-left: 1.5em;
    margin-top: 5em;
}


/* Hamburger Menu */

.mobile-menu-icon {
    display: none;
    position: relative;
    width: 24px;
    height: 18px;
    border: none;
    background: none;
    top: 35px;
    left: 327px;
    background-color: #FFFFFF;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
   
}






.mobile-div-box {
    background-color: #FFFCF8;
    width: 329px;
    height: 305px;
    padding: 24px;
    position: fixed;
    left: 35px;
    right: 0%;
    top: 95px;
    bottom: 1px;
    transition: all 2s;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.mobile-menu a {
    text-decoration: none;
    color: #808397;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -0.14px; 
    line-height: 25px;
}

.mobile-menu li {
    margin-bottom: 20px;
}

.mobile-btn {
    background-color: #FBD600;
    border-radius: 28px;
    width: 140px;
    padding: .80em 1em;
    text-align: center;
    justify-content: center;

}

.mobile-btn a {
    color: #24303E;
    text-align: center;
}

#hidden {
    transform: translateX(110%);
}



/* ======= MEDIA QUERYS======= */


@media (max-width: 768px) {
    .navbar li {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        margin-left: 27em;
    }


    


}
